.header {
  background-color: rgb(42, 40, 44);
  padding: 10px;
  display: flex;
  gap: 16px;
}

.navLink {
  color: rgb(177, 172, 172);
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  transition: color, 0.35s;
}

.active {
  color: rgb(241, 72, 72);
}
